ENV{ID_BUS} != "usb"             , GOTO="disk_auto_mount_by_label_end"
ENV{ID_FS_USAGE} != "filesystem" , GOTO="disk_auto_mount_by_label_end"
SUBSYSTEM != "block"             , GOTO="disk_auto_mount_by_label_end"
#GOTO="disk_auto_mount_by_label_end"
KERNEL != "sd*"        , GOTO="disk_auto_mount_by_label_end"

ACTION=="add", RUN+="/usr/bin/systemctl restart autoMount@%k.service"
ACTION=="remove", RUN+="/usr/bin/systemctl restart autoUmount@%k.service"

LABEL="disk_auto_mount_by_label_end"

